* {
box-sizing: border-box;
}

.mainContainer {
  background-image: url("land.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-curved {
    position: relative;
    width: 100%;
    height: 300px;
    margin-left: -25px;
    font-size: 75px;
  }

  .banner-curved div {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 70px;
    height: 300px;  
    text-align: center;
    transform-origin: bottom center;
    font-weight: bold;
    transition: transform 3s;
  }

.gateContainer {
  width: 100%;
  padding: 1px;
  margin: auto;
}

  .imageGateContainer {
    position: relative;
    width: 100%;
    padding: 1px;
    margin: auto;
    background-repeat: no-repeat;
    text-align: center;
  }

  .gate {
    position: absolute;
    left: 5px;
    top: 0px;
    text-align: left;
  }

  .gateBtn {
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: 0;
  }

  .gateFrontPage {
    z-index: 1;
  }